@page
@model ShopProject_Client.Pages.Admin.AdminProductsModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>G5 Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/Admin/logoPL.png">

    <!-- Custom box css -->
    <link href="~/assets/libs/custombox/custombox.min.css" rel="stylesheet">
    <!-- third party css -->
    <link href="~/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/pages/sweet-alerts.init.js"></script>

</head>

<body>
    <script>
        function clearSessionStorage() {
            sessionStorage.clear();
        }
    </script>
    <script>
        $(document).ready(function () {
            function decodeToken(token) {
                const base64Url = token.split('.')[1];
                const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                return JSON.parse(atob(base64));
            }
            // Lấy dữ liệu từ biểu mẫu
            var accessToken = sessionStorage.getItem("auToken");
            if (accessToken != null) {
                const decodedPayload = decodeToken(accessToken);
                var tokendecode = decodedPayload;
            }
            else {
                tokendecode = null;
            }
            if (tokendecode != null) {
                $.ajax({
                    url: 'https://localhost:44312/User/' + tokendecode.UserID,
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    success: function (data) {
                        $('#user_name').text(data.fullName)
                    },
                    error: function (error) {
                        console.error('Lỗi khi tải dữ liệu: ' + error);
                    }
                });
            }
        });
    </script>
    <script>
        function decodeToken(token) {
            const base64Url = token.split('.')[1];
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            return JSON.parse(atob(base64));
        }
        $(document).ready(function () {
            var token = sessionStorage.getItem('auToken');
            if (token == null) {
                window.location.href = "/Error/Error401";
            }
            else {
                var accessToken = decodeToken(token);
                console.log(accessToken);
                console.log(token);
                if (accessToken.admin == "False") {
                    window.location.href = "/Error/Error403";
                }
            }
        });
    </script>
    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown"
                       href="#" role="button" aria-haspopup="false" aria-expanded="false">

                        <span class="pro-user-name ml-1" id="user_name">
                            <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0 text-white">
                                Welcome !
                            </h5>
                        </div>
                        <!-- item-->

                        <div class="dropdown-divider"></div>
                        <a id="javascript:void(0);" href="/Home/Home" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>My Home</span>
                        </a>
                        <!-- item-->
                        <a id="clearSessionStorageLink;javascript:void(0);" href="/AccountDocker/Login" class="dropdown-item notify-item" onclick="clearSessionStorage()">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>
            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="/Admin/Dashboard" class="logo text-center">
                    <span class="logo-lg">

                        <img class="img-fix" src="~/images/Admin/logoPLAdmin.png" alt="" height="24">
                    </span>
                    <span class="logo-sm">
                        <img class="img-fix" src="~/images/Admin/logoPL.png" alt="" height="28">
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect waves-light">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </li>
            </ul>
        </div>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="slimscroll-menu">

                <div id="sidebar-menu">

                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title">Navigation</li>

                        <li class="menu_dashboards">
                            <a href="javascript: void(0);">
                                <i class="la la-dashboard"></i>
                                <span id="dashboards">Dashboards</span>
                            </a>
                        </li>
                        <script>
                            document.getElementById("dashboards").addEventListener("click", function () {
                                window.location.href = "/Admin/Dashboard";
                            });
                        </script>
                        <li class="menu_dashboards">
                            <a href="javascript: void(0);">
                                <i class="fas fa-users"></i>
                                <span id="account">Account</span>
                            </a>
                        </li>
                        <script>
                            document.getElementById("account").addEventListener("click", function () {
                                window.location.href = "/Admin/AdminAccount";
                            });
                        </script>
                        <li class="menu_dashboards">
                            <a href="javascript: void(0);">
                                <i class="fab fa-product-hunt"></i>
                                <span id="product-link">Product</span>
                            </a>
                        </li>
                        <script>
                            document.getElementById("product-link").addEventListener("click", function () {
                                window.location.href = "/Admin/AdminProducts";
                            });
                        </script>
                        <li class="menu_dashboards">
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-view-list"></i>
                                <span id="category">Category</span>
                            </a>
                        </li>
                        <script>
                            document.getElementById("category").addEventListener("click", function () {
                                window.location.href = "/Admin/AdminCategory";
                            });
                        </script>
                        <li class="menu_dashboards">
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-folder-text-outline"></i>
                                <span id="order">Order</span>
                            </a>
                        </li>
                        <script>
                            document.getElementById("order").addEventListener("click", function () {
                                window.location.href = "/Admin/AdminOrder";
                            });
                        </script>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Product List</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="text-lg-right mt-3 mt-lg-0">
                                            <div class="button-list2">
                                                <button type="button" class="btn btn-danger waves-effect waves-light"
                                                        data-toggle="modal" data-target="#full-create">
                                                    <i class="mdi mdi-plus-circle mr-1"></i>Add new
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="scroll-horizontal-datatable1" class="table w-100 nowrap">
                                        <thead>
                                            <tr class="th-all">
                                                <th>Product name</th>
                                                <th>Product image</th>
                                                <th>Product price</th>
                                                <th>Category</th>
                                                <th>Product quantity</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="product-list">
                                        </tbody>
                                    </table>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row -->
             
                    <!-- full create -->
                    <div id="full-create" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="full-width-modalLabel">Product Create</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-control-element">
                                            <div class="form-group">
                                                <label for="name">Product Name</label>
                                                <input type="text" class="form-control" id="pronameadd" placeholder="Please Enter Product Name">
                                                <span class="text-danger" id="pronameadd-error"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="example-fileinput">Image</label>
                                                <input type="text" id="proimageadd" class="form-control" placeholder="Please Enter Product Image">
                                                <span class="text-danger" id="proimageadd-error"></span>
                                            </div>
                                        </div>
                                        <div class="form-control-element1">
                                            <div class="form-group mb-3">
                                                <label for="price">Product Price</label>
                                                <input type="text" class="form-control" id="propriceadd" placeholder="Please Enter Product Price">
                                                <span class="text-danger" id="propriceadd-error"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="example-select">Category</label>
                                                <select class="form-control" id="proselectadd" ></select>
                                                <span class="text-danger" id="proselectadd-error"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="quantity">Product Quantity</label>
                                                <input type="text" class="form-control" id="proquanadd" placeholder="Please Enter Product Quantity">
                                                <span class="text-danger" id="proquanadd-error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Product Description</label>
                                            <textarea class="form-control" id="prodescriptadd" rows="3" placeholder="Please Enter Product Description"></textarea>
                                            <span class="text-danger" id="prodescriptadd-error"></span>
                                        </div>
                                        <div class="form-control-element2">
                                            <div class="form-group">
                                                <label for="chipset">Product Chipset </label>
                                                <input type="text" class="form-control" id="prochipadd" placeholder="Please Enter Product Chipset">
                                                <span class="text-danger" id="prochipadd-error"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="internal">Product Storage Internal</label>
                                                <input type="text" class="form-control" id="prostorageinadd" placeholder="Please Enter Storage Internal">
                                                <span class="text-danger" id="prostorageinadd-error"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="external">Product Storage External</label>
                                                <input type="text" class="form-control" id="prostorageexadd" placeholder="Please Enter Storage External">
                                                <span class="text-danger" id="prostorageexadd-error"></span>
                                            </div>
                                        </div>
                                        <div class="form-control-element3">
                                            <div class="form-group">
                                                <label for "capacity">Product Battery Capacity</label>
                                                <input type="text" class="form-control" id="probatadd" placeholder="Please Enter Battery Capacity">
                                                <span class="text-danger" id="probatadd-error"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for "selfie">Product Selfie Camera</label>
                                                <input type="text" class="form-control" id="proseladd" placeholder="Please Enter Selfie Camera">
                                                <span class="text-danger" id="proseladd-error"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for "main">Product Main Camera</label>
                                                <input type="text" class="form-control" id="promainadd" placeholder="Please Enter Main Camera">
                                                <span class="text-danger" id="promainadd-error"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-success waves-effect waves-light" onclick="Add()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- full edit -->


                    <div id="full-edit" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="full-width-modalLabel">Product Edit</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-control-element">
                                            <div class="form-group">
                                                <label for="proid">Product ID</label>
                                                <input type="number" class="form-control" id="proid"
                                                       placeholder="Enter ID" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="proname">Product Name</label>
                                                <input type="text" class="form-control" id="proname"
                                                       placeholder="Enter product name" required>
                                                <span id="proname-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="proimage">Image</label>
                                                <input type="text" id="proimage" class="form-control" required>
                                                <span id="proimage-error" class="error text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-control-element1">
                                            <div class="form-group">
                                                <label for="proprice">Product Price</label>
                                                <input type="number" class="form-control" id="proprice"
                                                       placeholder="Enter product price" required>
                                                <span id="proprice-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="proselect">Category</label>
                                                <select class="form-control" id="proselect">
                                                    <!-- Tùy chọn danh sách thể loại -->
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="proquan">Product Quantity</label>
                                                <input type="number" class="form-control" id="proquan"
                                                       placeholder="Enter product quantity" required>
                                                <span id="proquan-error" class="error text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="prodescript">ProductDetail Description</label>
                                            <textarea class="form-control" id="prodescript" rows="3"
                                                      placeholder="Enter product description" required></textarea>
                                            <span id="prodescript-error" class="error text-danger"></span>
                                        </div>
                                        <div class="form-control-element2">
                                            <div class="form-group">
                                                <label for="prochip">Product Chipset</label>
                                                <input type="text" class="form-control" id="prochip"
                                                       placeholder="Enter product chipset" required>
                                                <span id="prochip-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="prostoragein">Product Storage Internal</label>
                                                <input type="text" class="form-control" id="prostoragein"
                                                       placeholder="Enter internal storage" required>
                                                <span id="prostoragein-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="prostorageex">Product Storage External</label>
                                                <input type="text" class="form-control" id="prostorageex"
                                                       placeholder="Enter external storage" required>
                                                <span id="prostorageex-error" class="error text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-control-element3">
                                            <div class "form-group">
                                                <label for="probat">Product Battery Capacity</label>
                                                <input type="number" class="form-control" id="probat"
                                                       placeholder="Enter battery capacity" required>
                                                <span id="probat-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="prosel">Product Selfie Camera</label>
                                                <input type="text" class="form-control" id="prosel"
                                                       placeholder="Enter selfie camera" required>
                                                <span id="prosel-error" class="error text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="promain">Product Main Camera</label>
                                                <input type="text" class="form-control" id="promain"
                                                       placeholder="Enter main camera" required>
                                                <span id="promain-error" class="error text-danger"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" onclick="saveChanges()"
                                            class="btn btn-primary waves-effect waves-light">
                                        Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- full-delete -->
                    <div id="full-delete" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="full-width-modalLabel">Product Delete</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-details">
                                            <img src="" id="proImage"
                                                 class="rounded-circle img-thumbnail avatar-xl2" alt="profile-image">
                                            <div class="element-1">
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">ID:</a></h4>
                                                        <p class="text-muted1" id="proId">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Name:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proName">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Price:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proPrice">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Category:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proCategory">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="ele-details1">

                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Quantity:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proQuan">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Chipset: </a>
                                                        </h4>
                                                        <p class="text-muted1" id="proChip">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ele-details2">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Storage Internal:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proStoragein">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Storage External:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proStorageex">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Battery Capacity:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proBat">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Selfie Camera:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proSel">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ele-details3">

                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Main Camera:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="proMain">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ele1">
                                            <h4 class="mt-3">
                                                <a href="extras-profile.html"
                                                   class="text-dark">Description:</a>
                                            </h4>
                                            <p class="text-muted2" id="proDescript">
                                                <i class="mdi mdi-map-marker-outline"></i>tên sản
                                                phẩm
                                            </p>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" onclick="savedeleteChanges()"
                                            class="btn btn-danger waves-effect waves-light">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- full-details -->
                    <div id="full-details" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="full-width-modalLabel">Product Details</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-details">
                                            <img src="" id="ProImage"
                                                 class="rounded-circle img-thumbnail avatar-xl2" alt="profile-image">
                                            <div class="element-1">
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">ID:</a></h4>
                                                        <p class="text-muted1" id="ProId">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Name:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProName">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Price:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProPrice">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Category:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProCate">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="ele-details1">

                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Quantity:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProQuan">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Chipset: </a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProChip">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ele-details2">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Storage Internal:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProStoragein">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Storage External:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProStorageex">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="ele-details">
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Battery Capacity:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProBat">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Selfie Camera:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProSel">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ele-details3">

                                                    <div class="ele">
                                                        <h4 class="mt-3">
                                                            <a href="extras-profile.html"
                                                               class="text-dark">Main Camera:</a>
                                                        </h4>
                                                        <p class="text-muted1" id="ProMain">
                                                            <i class="mdi mdi-map-marker-outline"></i>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ele1">
                                            <h4 class="mt-3">
                                                <a href="extras-profile.html"
                                                   class="text-dark">Description:</a>
                                            </h4>
                                            <p class="text-muted2" id="ProDescript">
                                                <i class="mdi mdi-map-marker-outline"></i>tên sản
                                                phẩm
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>

            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2023 © G5 Shop theme by <a href="">G5 Shop</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <div class="rightbar-overlay"></div>
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- third party js -->
    <script src="~/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.flash.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.select.min.js"></script>
    <script src="~/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/vfs_fonts.js"></script>
    <!-- third party js ends -->
    <!-- Datatables init -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <!-- Modal-Effect -->
    <script src="~/assets/libs/custombox/custombox.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>

</body>

</html>
<script>
    const authToken = sessionStorage.getItem("auToken");// Replace with your actual authorization token

    const headers = {
        'Authorization': `Bearer ${authToken}`
    };

    fetch('https://localhost:44312/Categories', {
        headers: headers
    })
        .then(response => response.json()) // Assuming the data is in JSON format
        .then(data => {
            // Process the data and populate the select element
            const select = document.getElementById('proselect');
            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item.categoryId;
                option.textContent = item.categoryName;
                select.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
</script>

<script>
    // var authToken = sessionStorage.getItem("auToken");Replace with your actual authorization token

    fetch('https://localhost:44312/Categories', {
        headers: {
            'Authorization': `Bearer ${authToken}`
        }
    })
        .then(response => response.json()) // Giả định dữ liệu trả về dưới dạng JSON
        .then(data => {
            // Xử lý dữ liệu và điền vào phần tử select
            const select1 = document.getElementById('proselectadd');
            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item.categoryId;
                option.textContent = item.categoryName;
                select1.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Lỗi khi tải dữ liệu:', error);
        });
</script>
<script>
    // Attach onblur event to Product Name input
    $('#proname').on('blur', function () {
        var productname = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productname)) {
            $('#proname-error').text("Error: Product Name must only contain letters, numbers, and spaces.");
        } else if (productname.trim() === "") {
            $('#proname-error').text("Error: Product Name field cannot be empty.");
        } else {
            $('#proname-error').text("");
        }
    });

    // Attach onblur event to Product Image input
    $('#proimage').on('blur', function () {
        var proimage = $(this).val();
        var extension = proimage.split('.').pop().toLowerCase();
        if (extension !== 'png') {
            $('#proimage-error').text("Error: Image must have a '.png' extension.");
        } else {
            $('#proimage-error').text("");
        }
    });

    // Attach onblur event to Product Price input
    $('#proprice').on('blur', function () {
        var productprice = $(this).val();
        if (productprice.trim() === "") {
            $('#proprice-error').text("Error: Price field cannot be empty.");
        } else if (isNaN(productprice)) {
            $('#proprice-error').text("Error: Price must be a number.");
        } else if (productprice < 0) {
            $('#proprice-error').text("Error: Price must be a non-negative number.");
        } else {
            $('#proprice-error').text("");
        }
    });

    // Attach onblur event to Quantity input
    $('#proquan').on('blur', function () {
        var productquantity = $(this).val();
        if (productquantity.trim() === "") {
            $('#proquan-error').text("Error: Quantity field cannot be empty.");
        } else if (isNaN(productquantity)) {
            $('#proquan-error').text("Error: Quantity must be a number.");
        } else if (productquantity < 0) {
            $('#proquan-error').text("Error: Quantity must be a non-negative number.");
        } else {
            $('#proquan-error').text("");
        }
    });

    // Attach onblur event to Product Detail Description input
    $('#prodescript').on('blur', function () {
        var productdetaildescription = $(this).val();
        if (!/^[A-Za-z0-9\sàáảãạâầấẩẫậăằắẳẵặèéẹêềếểễệđìíỉĩịòóỏõọôồốổỗộơờớởỡợùúủũụưừứửữựỳýỷỹỵÀÁẢÃẠÂẦẤẨẪẬĂẰẮẲẴẶÈÉẸÊỀẾỂỄỆĐÌÍỈĨỊÒÓỎÕỌÔỒỐỔỖỘƠỜỚỞỠỢÙÚỦŨỤƯỪỨỬỮỰỲÝỶỸỴ.,;-+_]+$/u.test(productdetaildescription)) {
            $('#prodescript-error').text("Error: Product Detail Description must only contain letters, numbers, and spaces.");
        } else if (productdetaildescription.trim() === "") {
            $('#prodescript-error').text("Error: Product Detail Description field cannot be empty.");
        } else {
            $('#prodescript-error').text("");
        }
    });

    // Attach onblur event to Chipset input
    $('#prochip').on('blur', function () {
        var productchipset = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productchipset)) {
            $('#prochip-error').text("Error: Chipset must only contain letters, numbers, and spaces.");
        } else if (productchipset.trim() === "") {
            $('#prochip-error').text("Error: Chipset field cannot be empty.");
        } else {
            $('#prochip-error').text("");
        }
    });

    // Attach onblur event to Internal Storage input
    $('#prostoragein').on('blur', function () {
        var productstorageinternal = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productstorageinternal)) {
            $('#prostoragein-error').text("Error: Internal Storage must only contain letters, numbers, and spaces.");
        } else if (productstorageinternal.trim() === "") {
            $('#prostoragein-error').text("Error: Internal Storage field cannot be empty.");
        } else {
            $('#prostoragein-error').text("");
        }
    });

    // Attach onblur event to External Storage input
    $('#prostorageex').on('blur', function () {
        var productstorageexternal = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productstorageexternal)) {
            $('#prostorageex-error').text("Error: External Storage must only contain letters, numbers, and spaces.");
        } else if (productstorageexternal.trim() === "") {
            $('#prostorageex-error').text("Error: External Storage field cannot be empty.");
        } else {
            $('#prostorageex-error').text("");
        }
    });

    // Attach onblur event to Battery Capacity input
    $('#probat').on('blur', function () {
        var productbatterycapacity = $(this).val();
        if (productbatterycapacity.trim() === "") {
            $('#probat-error').text("Error: Battery Capacity field cannot be empty.");
        } else if (isNaN(productbatterycapacity)) {
            $('#probat-error').text("Error: Battery Capacity must be a number.");
        } else if (productbatterycapacity < 0) {
            $('#probat-error').text("Error: Battery Capacity must be a non-negative number.");
        } else {
            $('#probat-error').text("");
        }
    });

    // Attach onblur event to Selfie Camera input
    $('#prosel').on('blur', function () {
        var productselfiecamera = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productselfiecamera)) {
            $('#prosel-error').text("Error: Selfie Camera must only contain letters, numbers, and spaces.");
        } else if (productselfiecamera.trim() === "") {
            $('#prosel-error').text("Error: Selfie Camera field cannot be empty.");
        } else {
            $('#prosel-error').text("");
        }
    });

    // Attach onblur event to Main Camera input
    $('#promain').on('blur', function () {
        var productmaincamera = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productmaincamera)) {
            $('#promain-error').text("Error: Main Camera must only contain letters, numbers, and spaces.");
        } else if (productmaincamera.trim() === "") {
            $('#promain-error').text("Error: Main Camera field cannot be empty.");
        } else {
            $('#promain-error').text("");
        }
    });

</script>
<script>
    $('#pronameadd').on('blur', function () {
        var productname = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productname)) {
            $('#pronameadd-error').text("Error: Product Name must only contain letters, numbers, and spaces.");
        } else if (productname.trim() === "") {
            $('#pronameadd-error').text("Error: Product Name field cannot be empty.");
        } else {
            $('#pronameadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Product Image
    $('#proimageadd').on('blur', function () {
        var proimage = $(this).val();
        var extension = proimage.split('.').pop().toLowerCase();
        if (extension !== 'png') {
            $('#proimageadd-error').text("Error: Image must have a '.png' extension.");
        } else {
            $('#proimageadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Product Price
    $('#propriceadd').on('blur', function () {
        var productprice = $(this).val();
        if (productprice.trim() === "") {
            $('#propriceadd-error').text("Error: Price field cannot be empty.");
        } else if (isNaN(productprice)) {
            $('#propriceadd-error').text("Error: Price must be a number.");
        } else if (productprice < 0) {
            $('#propriceadd-error').text("Error: Price must be a non-negative number.");
        } else {
            $('#propriceadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Quantity
    $('#proquanadd').on('blur', function () {
        var productquantity = $(this).val();
        if (productquantity.trim() === "") {
            $('#proquanadd-error').text("Error: Quantity field cannot be empty.");
        } else if (isNaN(productquantity)) {
            $('#proquanadd-error').text("Error: Quantity must be a number.");
        } else if (productquantity < 0) {
            $('#proquanadd-error').text("Error: Quantity must be a non-negative number.");
        } else {
            $('#proquanadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Product Detail Description
    $('#prodescriptadd').on('blur', function () {
        var productdetaildescription = $(this).val();
        if (!/^[A-Za-z0-9\sàáảãạâầấẩẫậăằắẳẵặèéẹêềếểễệđìíỉĩịòóỏõọôồốổỗộơờớởỡợùúủũụưừứửữựỳýỷỹỵÀÁẢÃẠÂẦẤẨẪẬĂẰẮẲẴẶÈÉẸÊỀẾỂỄỆĐÌÍỈĨỊÒÓỎÕỌÔỒỐỔỖỘƠỜỚỞỠỢÙÚỦŨỤƯỪỨỬỮỰỲÝỶỸỴ.,;-+_]+$/u.test(productdetaildescription)) {
            $('#prodescriptadd-error').text("Error: Product Detail Description must only contain letters, numbers, and spaces.");
        } else if (productdetaildescription.trim() === "") {
            $('#prodescriptadd-error').text("Error: Product Detail Description field cannot be empty.");
        } else {
            $('#prodescriptadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Chipset
    $('#prochipadd').on('blur', function () {
        var productchipset = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productchipset)) {
            $('#prochipadd-error').text("Error: Chipset must only contain letters, numbers, and spaces.");
        } else if (productchipset.trim() === "") {
            $('#prochipadd-error').text("Error: Chipset field cannot be empty.");
        } else {
            $('#prochipadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Internal Storage
    $('#prostorageinadd').on('blur', function () {
        var productstorageinternal = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productstorageinternal)) {
            $('#prostorageinadd-error').text("Error: Internal Storage must only contain letters, numbers, and spaces.");
        } else if (productstorageinternal.trim() === "") {
            $('#prostorageinadd-error').text("Error: Internal Storage field cannot be empty.");
        } else {
            $('#prostorageinadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường External Storage
    $('#prostorageexadd').on('blur', function () {
        var productstorageexternal = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productstorageexternal)) {
            $('#prostorageexadd-error').text("Error: External Storage must only contain letters, numbers, and spaces.");
        } else if (productstorageexternal.trim() === "") {
            $('#prostorageexadd-error').text("Error: External Storage field cannot be empty.");
        } else {
            $('#prostorageexadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Battery Capacity
    $('#probatadd').on('blur', function () {
        var productbatterycapacity = $(this).val();
        if (productbatterycapacity.trim() === "") {
            $('#probatadd-error').text("Error: Battery Capacity field cannot be empty.");
        } else if (isNaN(productbatterycapacity)) {
            $('#probatadd-error').text("Error: Battery Capacity must be a number.");
        } else if (productbatterycapacity < 0) {
            $('#probatadd-error').text("Error: Battery Capacity must be a non-negative number.");
        } else {
            $('#probatadd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Selfie Camera
    $('#proseladd').on('blur', function () {
        var productselfiecamera = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productselfiecamera)) {
            $('#proseladd-error').text("Error: Selfie Camera must only contain letters, numbers, and spaces.");
        } else if (productselfiecamera.trim() === "") {
            $('#proseladd-error').text("Error: Selfie Camera field cannot be empty.");
        } else {
            $('#proseladd-error').text("");
        }
    });

    // Gắn sự kiện onblur vào trường Main Camera
    $('#promainadd').on('blur', function () {
        var productmaincamera = $(this).val();
        if (!/^[A-Za-z0-9\s]+$/.test(productmaincamera)) {
            $('#promainadd-error').text("Error: Main Camera must only contain letters, numbers, and spaces.");
        } else if (productmaincamera.trim() === "") {
            $('#promainadd-error').text("Error: Main Camera field cannot be empty.");
        } else {
            $('#promainadd-error').text("");
        }
    });
</script>
<script>
    var count = 1;
    function Add() {
        // Kiểm tra tất cả các lỗi trước khi thực hiện Ajax
        if ($('#pronameadd-error').text() === "" && $('#proimageadd-error').text() === "" &&
            $('#propriceadd-error').text() === "" && $('#proquanadd-error').text() === "" &&
            $('#prodescriptadd-error').text() === "" && $('#prochipadd-error').text() === "" &&
            $('#prostorageinadd-error').text() === "" && $('#prostorageexadd-error').text() === "" &&
            $('#probatadd-error').text() === "" && $('#proseladd-error').text() === "" &&
            $('#promainadd-error').text() === "") {

            count++;
            const select = document.getElementById('proselectadd');
            console.log(select.value);
            var productname = $('#pronameadd').val();
            var proimage = $('#proimageadd').val();
            var procate = select.value;
            var productprice = $('#propriceadd').val();
            var productquantity = $('#proquanadd').val();
            var productdetaildescription = $('#prodescriptadd').val();
            var productchipset = $('#prochipadd').val();
            var productstorageinternal = $('#prostorageinadd').val();
            var productstorageexternal = $('#prostorageexadd').val();
            var productbatterycapacity = $('#probatadd').val();
            var productselfiecamera = $('#proseladd').val();
            var productmaincamera = $('#promainadd').val();
            if (!productname || !proimage || !procate || !productprice || !productquantity || !productdetaildescription || !productchipset || !productstorageinternal || !productstorageexternal || !productbatterycapacity || !productselfiecamera || !productmaincamera) {
                if (!productname) {
                    $('#pronameadd-error').text("Error: Product Name field cannot be empty.");
                } else {
                    $('#pronameadd-error').text("");
                }

                if (!proimage) {
                    $('#proimageadd-error').text("Error: Image field cannot be empty.");
                } else {
                    $('#proimageadd-error').text("");
                }

                if (!procate) {
                    $('#proselect-error').text("Error: Category field cannot be empty.");
                } else {
                    $('#proselect-error').text("");
                }

                if (!productprice) {
                    $('#propriceadd-error').text("Error: Price field cannot be empty.");
                } else {
                    $('#propriceadd-error').text("");
                }

                if (!productquantity) {
                    $('#proquanadd-error').text("Error: Quantity field cannot be empty.");
                } else {
                    $('#proquanadd-error').text("");
                }

                if (!productdetaildescription) {
                    $('#prodescriptadd-error').text("Error: Product Detail Description field cannot be empty.");
                } else {
                    $('#prodescriptadd-error').text("");
                }

                if (!productchipset) {
                    $('#prochipadd-error').text("Error: Chipset field cannot be empty.");
                } else {
                    $('#prochipadd-error').text("");
                }

                if (!productstorageinternal) {
                    $('#prostorageinadd-error').text("Error: Internal Storage field cannot be empty.");
                } else {
                    $('#prostorageinadd-error').text("");
                }

                if (!productstorageexternal) {
                    $('#prostorageexadd-error').text("Error: External Storage field cannot be empty.");
                } else {
                    $('#prostorageexadd-error').text("");
                }

                if (!productbatterycapacity) {
                    $('#probatadd-error').text("Error: Battery Capacity field cannot be empty.");
                } else {
                    $('#probatadd-error').text("");
                }

                if (!productselfiecamera) {
                    $('#proseladd-error').text("Error: Selfie Camera field cannot be empty.");
                } else {
                    $('#proseladd-error').text("");
                }

                if (!productmaincamera) {
                    $('#promainadd-error').text("Error: Main Camera field cannot be empty.");
                } else {
                    $('#promainadd-error').text("");
                }

                return;
            }
            var data = {
                productName: productname,
                productImage: proimage,
                productPrice: productprice,
                categoryID: procate,
                productQuantity: productquantity,
                productDetailDescription: productdetaildescription,
                productChipset: productchipset,
                productStorageInternal: productstorageinternal,
                productStorageExternal: productstorageexternal,
                productBatteryCapacity: productbatterycapacity,
                productSelfieCamera: productselfiecamera,
                productMainCamera: productmaincamera
            };
            var jsonData = JSON.stringify(data);
            console.log("save ADĐ" + jsonData);

            // Gọi AJAX để gửi dữ liệu
            $.ajax({
                url: 'https://localhost:44312/Products',
                method: 'POST',
                data: jsonData,
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer ' + authToken
                },
                success: function (response) {
                    // Xử lý phản hồi từ máy chủ sau khi lưu dữ liệu
                    $('#full-create').modal('hide');
                    location.reload();
                    console.log("success");
                },
                error: function (error) {
                    console.error('Lỗi r: ' + error);
                }
            });
        } else {
            if (count == 3) {
                Swal.fire("Error!", "Admin ma nhap sai hoai vay ba!!", "error")
            }
        }
    }
</script>
<script>
    function saveChanges() {
        if ($('#proname-error').text() === "" && $('#proimage-error').text() === "" &&
            $('#proprice-error').text() === "" && $('#proquan-error').text() === "" &&
            $('#prodescript-error').text() === "" && $('#prochip-error').text() === "" &&
            $('#prostoragein-error').text() === "" && $('#prostorageex-error').text() === "" &&
            $('#probat-error').text() === "" && $('#prosel-error').text() === "" &&
            $('#promain-error').text() === "") {
            const select = document.getElementById('proselect');
            console.log(select.value)
            var productid = $('#proid').val();
            var productname = $('#proname').val();
            var proimage = $('#proimage').val();
            var procate = select.value;
            var productprice = $('#proprice').val();
            var productquantity = $('#proquan').val();
            var productdetaildescription = $('#prodescript').val();
            var productchipset = $('#prochip').val();
            var productstorageinternal = $('#prostoragein').val();
            var productstorageexternal = $('#prostorageex').val();
            var productbatterycapacity = $('#probat').val();
            var productselfiecamera = $('#prosel').val();
            var productmaincamera = $('#promain').val();
            if (!productid || !productname || !proimage || !productprice || !productquantity || !productdetaildescription || !productchipset || !productstorageinternal || !productstorageexternal || !productbatterycapacity || !productselfiecamera || !productmaincamera) {
                if (!productid) {
                    $('#proid-error').text("Error: Product ID field cannot be empty.");
                } else {
                    $('#proid-error').text("");
                }

                if (!productname) {
                    $('#proname-error').text("Error: Product Name field cannot be empty.");
                } else {
                    $('#proname-error').text("");
                }

                if (!proimage) {
                    $('#proimage-error').text("Error: Image field cannot be empty.");
                } else {
                    $('#proimage-error').text("");
                }

                if (!productprice) {
                    $('#proprice-error').text("Error: Price field cannot be empty.");
                } else {
                    $('#proprice-error').text("");
                }

                if (!productquantity) {
                    $('#proquan-error').text("Error: Quantity field cannot be empty.");
                } else {
                    $('#proquan-error').text("");
                }

                if (!productdetaildescription) {
                    $('#prodescript-error').text("Error: Product Detail Description field cannot be empty.");
                } else {
                    $('#prodescript-error').text("");
                }

                if (!productchipset) {
                    $('#prochip-error').text("Error: Chipset field cannot be empty.");
                } else {
                    $('#prochip-error').text("");
                }

                if (!productstorageinternal) {
                    $('#prostoragein-error').text("Error: Internal Storage field cannot be empty.");
                } else {
                    $('#prostoragein-error').text("");
                }

                if (!productstorageexternal) {
                    $('#prostorageex-error').text("Error: External Storage field cannot be empty.");
                } else {
                    $('#prostorageex-error').text("");
                }

                if (!productbatterycapacity) {
                    $('#probat-error').text("Error: Battery Capacity field cannot be empty.");
                } else {
                    $('#probat-error').text("");
                }

                if (!productselfiecamera) {
                    $('#prosel-error').text("Error: Selfie Camera field cannot be empty.");
                } else {
                    $('#prosel-error').text("");
                }

                if (!productmaincamera) {
                    $('#promain-error').text("Error: Main Camera field cannot be empty.");
                } else {
                    $('#promain-error').text("");
                }

                return;
            }
            // Tạo một đối tượng dữ liệu để gửi bằng AJAX
            var data = {
                productId: productid,
                productName: productname,
                productImage: proimage,
                productPrice: productprice,
                categoryId: procate,
                productQuantity: productquantity,
                productDetailDescription: productdetaildescription,
                productChipset: productchipset,
                productStorageInternal: productstorageinternal,
                productStorageExternal: productstorageexternal,
                productBatteryCapacity: productbatterycapacity,
                productSelfieCamera: productselfiecamera,
                productMainCamera: productmaincamera
            };
            var jsonData = JSON.stringify(data);
            console.log("save change" + jsonData);
            var authToken = sessionStorage.getItem("auToken");// Replace with your actual authorization token
            $.ajax({
                url: 'https://localhost:44312/Products',
                method: 'PUT', // Điều này phụ thuộc vào việc bạn muốn thực hiện một thao tác POST hoặc PUT
                data: jsonData,
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer ' + authToken
                },
                success: function (response) {
                    // Xử lý phản hồi từ máy chủ sau khi lưu dữ liệu
                    // Ví dụ: đóng modal sau khi hoàn thành và làm mới trang
                    $('#full-edit').modal('hide');
                    location.reload(); // Tải lại trang hoặc cập nhật dữ liệu khác theo cách bạn muốn
                    console.log("success");
                },
                error: function (error) {
                    console.error('Lỗi r: ' + error);
                }
            });
        }
        else {
            console.error('Lỗi khi nhậpdữ liệu: ' + error);
        }
    }
    //Another function
    function openModal(button) {
        var authToken = sessionStorage.getItem("auToken");
        var id = button.getAttribute('data-id');
        console.log(id);
        // Đảm bảo rằng URL được định dạng chính xác và trỏ đúng vào điểm cuối API của bạn
        $.ajax({
            url: 'https://localhost:44312/Products/' + id,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + authToken
            },
            success: function (data) {
                if (data.productQuantity < 0) {
                    data.productQuantity = 0;
                }
                $('#proid').val(id);
                $('#proname').val(data.productName);
                $('#proimage').val(data.productImage);
                $('#proprice').val(data.productPrice);
                $('#procategory').val(data.categoryId);
                $('#prochip').val(data.productChipset);
                $('#proquan').val(data.productQuantity);
                $('#prodescript').val(data.productDetailDescription);
                $('#prostoragein').val(data.productStorageInternal);
                $('#prostorageex').val(data.productStorageExternal);
                $('#probat').val(data.productBatteryCapacity);
                $('#prosel').val(data.productSelfieCamera);
                $('#promain').val(data.productMainCamera);
                // Cập nhật các trường khác khi cần
            },
            error: function (error) {
                console.error('Lỗi khi tải dữ liệu: ' + error);
            }
        });

    }

</script>
<script>
    function confirm(button) {
        var id = button.getAttribute("data-id");
        console.log(id);
        Swal.fire({
            title: "Are you sure?",
            text: "Would you like to delete the product?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, confirm it!",
        }).then(function (result) {
            if (result.value) {
                console.log(result);
                console.log(id);
                var authToken = sessionStorage.getItem("auToken");
                $.ajax({
                    url: 'https://localhost:44312/Products/' + id,
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'Bearer ' + authToken
                    },
                    success: function (data) {
                        Swal.fire("Confirmed!", "Your product has been delete.", "success").then((result) => {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    },
                    error: function (error) {
                        Swal.fire("Error!", "Your product has been get this!!", "error").then((result) => {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // User clicked cancel, no need to do anything here.
            }
        });
    }
    // Attach the click event handler to the "sa-warning" button
    $(document).on('click', 'button#sa-warning', function () {
        confirm(this);
    });
</script>
<script>


    function openDetailModal(button) {
        // Lấy giá trị data-id từ nút
        var id = button.getAttribute('data-id');
        console.log(id);
        var authToken = sessionStorage.getItem("auToken");
        $.ajax({
            url: 'https://localhost:44312/Products/' + id,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + authToken
            },
            success: function (data) {
                if (data.productQuantity < 0) {
                    data.productQuantity = 0;
                }
                $('#ProId').text(data.productID);
                $('#ProName').text(data.productName);
                $('#ProImage').attr('src', "/assets/images/" + data.productImage);
                $('#ProPrice').text(data.productPrice);
                $('#ProCate').text(data.categoryName);
                $('#ProQuan').text(data.productQuantity);
                $('#ProDescript').text(data.productDetailDescription);
                $('#ProChip').text(data.productChipset);
                $('#ProStoragein').text(data.productStorageInternal);
                $('#ProStorageex').text(data.productStorageExternal);
                $('#ProBat').text(data.productBatteryCapacity);
                $('#ProSel').text(data.productSelfieCamera);
                $('#ProMain').text(data.productMainCamera);

                // Cập nhật các trường khác khi cần
            },
            error: function (error) {
                console.error('Lỗi khi tải dữ liệu: ' + error);
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        // Your DataTable initialization
        var table = $('#scroll-horizontal-datatable1').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "language": {
                "paginate": {
                    "previous": '<i class="mdi mdi-chevron-left"></i>',
                    "next": '<i class="mdi mdi-chevron-right"></i>'
                }
            }
        });

        var authToken = sessionStorage.getItem("auToken");
        $.ajax({
            type: "GET",
            url: "https://localhost:44312/Products", // Replace with your product API endpoint
            dataType: "json",
            headers: {
                'Authorization': 'Bearer ' + authToken
            },
            success: function (responseData) {
                $.each(responseData, function (index, data) {
                    if (data.productQuantity < 0) {
                        data.productQuantity = 0;
                    }
                    var productHtml = `
                                        <tr class="td-all">
                                            <td>${data.productName}</td>
                                                <td class="img-td"><img src="/assets/images/${data.productImage}"></td>
                                            <td>${data.productPrice} $</td>
                                            <td>${data.categoryName}</td>
                                            <td>${data.productQuantity}</td>

                                            <td class="btn-all1">
                                                <div class="btn-all">
                                                    <div class="col-4">
                                                        <div class="mt-3">
                                                            <div class="button-list">
                                                                <button type="button" id="openModalButton" onclick="openModal(this)"
                                                                    class="btn btn-success waves-effect waves-light mr-1"
                                                                    data-toggle="modal" data-target="#full-edit" data-id="${data.productID}">
                                                                    <i class="fe-edit-2"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="mt-3">
                                                            <div class="button-list">
                                                                <button type="button"
                                                                    class="btn btn-danger waves-effect waves-light mr-1" id="sa-warning"
                                                                    data-toggle="modal" data-id="${data.productID}" ><i
                                                                    class="mdi mdi-delete-forever"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="mt-3">
                                                            <div class="button-list">
                                                                <button type="button"
                                                                    class="btn btn-purple waves-effect waves-light mr-1" onclick="openDetailModal(this)"
                                                                    data-toggle="modal" data-target="#full-details" data-id="${data.productID}" ><i
                                                                    class="mdi mdi-exclamation"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    `;
                    // Add the product row to the DataTable
                    console.log(responseData);
                    table.row.add($(productHtml)).draw();
                });
            },
            error: function (jqXHR) {
                if (jqXHR.status === 0) {
                    window.location.href = "/Error/Error500";
                } else {
                    // Handle other types of errors
                    console.error("Other error occurred: " + jqXHR.status);
                }
            }
        });
    });
</script>