@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword page";
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phone Love</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--fonts-->
    <!--bootstrap-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <!--shop-kart-js-->
    <script src="~/js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!--script-->
    <!-- FlexSlider -->
    <script src="~/js/imagezoom.js"></script>
    <script defer src="~/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <script src="assets\libs\sweetalert2\sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets\js\pages\sweet-alerts.init.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
</head>
<body>
    <script>
        $(document).ready(function () {
            $('#email').on('blur', function () {
                var email = $(this).val();
                 if (email.trim() === "") {
                    $('#error-message').text("Error: Email field cannot be empty.");
                } else {
                    $('#error-message').text("");
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("form.form-body").submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
                if ($('#error-message').text() === "") {
                    var username = $("input[type='text']").val();
                    if (!username) {
                        $('#error-message').text("Error: Email field cannot be empty.");
                        return;
                    }
                    else {
                        $('#error-message').text("");
                    }
                    var data = {
                        username: username,
                    };
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:44312/Account/ForgotPassword?email=" + username,
                        data: data,
                        success: function (response, status) {
                            swal.fire({
                                icon: 'success',
                                title: 'ForgotPassword Successfully!',
                                text: 'Please check email to get new password!!',
                            }).then(function () {
                                window.location.href = "Login";
                            });
                            console.log("AJAX request successful!");
                        },
                        error: function (jqXHR) {
                            console.log(jqXHR);
                            var response = jqXHR.responseText;
                            if (jqXHR.status === 400) {
                                if (response == "EmailNotFound") {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'ForgotPassword Failed!',
                                        text: 'Emaul was not exist. Please try again.',
                                        confirmButtonText: 'Close'
                                    });
                                }
                            } else {
                                console.error('Lỗi khi gọi API:', jqXHR.status);
                            }
                        }
                    });
                } else {
                    if (jqXHR.status === 0) {
                        window.location.href = "/Error/Error500";
                    } else {
                        // Handle other types of errors
                        console.error("Other error occurred: " + jqXHR.status);
                    }
                }
            });
        });
    </script>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo2" style=" padding: 10px 28px;">
                    <a href="/Home/Home"><img class="img-logo" src="~/images/logo1.png" style="width: 100px; height: 100px;" alt="/" /></a>
                    <a href="/AccountDocker/Register">Send Email</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="reg-form1" style="display: flex;justify-content: center;    padding-top: 3rem;">
        <div class="containers2" style="width: 36% !important;margin-left:0rem !important;background: white;border-radius: 2rem;">
            <div class="reg" style=" margin-bottom: 2rem;">
                <form class="form-body">
                    <ul>
                        <li style="color: black;" class="text-info">Email </li>
                        <li>
                            <input type="text" class="form-control" id="email" placeholder="Enter email">
                        </li>
                        <li>
                            <span id="error-message" style="color: red;"></span>
                        </li>
                    </ul>
                    <div class="element">
                        <input class="ele-input" type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //login-page -->
    
</body>
</html>